{% load static %}
<meta charset="UTF-8">
<title>Ecommerce Codigo G20</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900%7COpen+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=cyrillic" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.formstyler.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.mThumbnailScroller.css' %}">
<link rel="stylesheet" href="{% static 'css/chosen.css' %}">

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/elements.css' %}">
<link rel="stylesheet" href="{% static 'css/media.css' %}">
<link rel="stylesheet" href="{% static 'css/elements-media.css' %}">