<div class="section-top">
    <h1 class="maincont-ttl">Shop</h1>
    <ul class="b-crumbs">
        <li><a href="index.html">Home</a></li>
        <li>Catalog - Gallery</li>
    </ul>
    <div class="section-top-sort">
        <div class="section-view">
            <p>View</p>
            <div class="dropdown-wrap">
                <p class="dropdown-title section-view-ttl">Gallery</p>
                <ul class="dropdown-list">
                    <li>
                        <a href="catalog-list.html">List</a>
                    </li>
                    <li class="active">
                        <a href="catalog-gallery.html">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section-sort">
            <p>Sort</p>
            <div class="dropdown-wrap">
                <p class="dropdown-title section-sort-ttl">Newness</p>
                <ul class="dropdown-list">
                    <li>
                        <a href="#">Popularity</a>
                    </li>
                    <li>
                        <a href="#">Average rating</a>
                    </li>
                    <li class="active">
                        <a href="#">Newness</a>
                    </li>
                    <li>
                        <a href="#">Price: low to high</a>
                    </li>
                    <li>
                        <a href="#">Price: high to low</a>
                    </li>
                </ul>
            </div>
        </div>
        <form method="post" class="products-per-page">
            <p>Per Page</p>
            <select>
                <option value="12" selected="selected">12</option>
                <option value="24">24</option>
                <option value="48">48</option>
                <option value="-1">All</option>
            </select>
        </form>
    </div>
</div>