{% extends 'layout.html' %}
{% block content %}
<main id="main" class="site-main">
<div class="cont maincont">
    <h1 class="maincont-ttl">REGISTRO DE PEDIDO</h1>
    <ul class="b-crumbs">
        <li><a href="/">Home</a></li>
        <li>pedido</li>
    </ul>
    <form method="post" action="{% url 'web:pedido_add' %}" class="register">
        {% csrf_token %}
        <article class="page-cont">
            <div class="page-styling">
                <div class="auth-wrap">
                    <div class="auth-col">
                        <h2>Datos Personales</h2>
                        <p>
                            <label for="username">Nombres<span class="required">*</span></label>
                            {{form.nombre}}
                        </p>
                        <p>
                            <label for="username">Apellidos<span class="required">*</span></label>
                            {{form.apellidos}}
                        </p>
                        <p>
                            <label for="username">Dni<span class="required">*</span></label>
                            {{form.dni}}
                        </p>
                    </div>
                    <div class="auth-col">
                        <h2>Datos Envio</h2>
                        <p>
                            <label for="username">Email<span class="required">*</span></label>
                            {{form.email}}
                        </p>
                        <p>
                            <label for="username">Telefono<span class="required">*</span></label>
                            {{form.telefono}}
                        </p>
                        <p>
                            <label for="username">Dirección<span class="required">*</span></label>
                            {{form.direccion}}
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <article class="page-cont">
            <div class="page-styling">
                <h2>Confirmación de Productos</h2>
                <div class="woocommerce prod-litems section-list">
                    {% for key,value in request.session.cart.items %}
                    <article class="prod-li sectls">
                        <div class="prod-li-inner">
                            <a href="#" class="prod-li-img">
                                <img src="{{ value.imagen }}" alt="">
                            </a>
                            <div class="prod-li-cont">
                                <div class="prod-li-ttl-wrap">
                                    <p>
                                        <a href="#">{{value.categoria}}</a>
                                    </p>
                                    <h3><a href="product.html">{{ value.nombre }}</a></h3>
                                </div>
                                <div class="prod-li-prices">
                                    <div class="prod-li-price-wrap">
                                        <p>Precio</p>
                                        <p class="prod-li-price">${{value.precio}}</p>
                                    </div>
                                </div>
                                <div class="prod-li-qnt-wrap">
                                    <p class="qnt-wrap prod-li-qnt">
                                        <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                        <input type="text" value="{{value.cantidad}}">
                                        <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                                    </p>
                                </div>
                                <div class="prod-li-total-wrap">
                                    <p>Total</p>
                                    <p class="prod-li-total">${{value.subtotal}}</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
            </div>
            <div class="cart-actions">
                    <div class="cart-collaterals">
                        <div class="order-total">
                            <p class="cart-totals-ttl">Total</p>
                            <p class="cart-totals-val">$100</p>
                        </div>
                    </div>
            </div>
            </div>
        </article>
        <article class="page-cont">
            <div class="page-styling">
                <div class="auth-wrap">
                    <div class="auth-col">
                        <p class="auth-submit">
                            <input type="submit" value="Confirmar Pedido">
                        </p>
                </div>
            </div>
        </article>
    </form>
</div>
</main>
{% endblock %}