<div class="row prod-items prod-items-2">
    <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
        <div class="sectgl prod-i">
            <div class="prod-i-top">
                <a class="prod-i-img" href="product.html">
                    <img src="http://placehold.it/290x258" alt="">
                </a>
                <div class="prod-i-actions">
                    <div class="prod-i-actions-in">
                        <div class="prod-li-favorites">
                            <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                        </div>
                        <p class="prod-quickview">
                            <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                        </p>
                        <p class="prod-i-cart">
                            <a href="#" class="hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Add to Cart</span></a>
                        </p>
                        <p class="prod-li-compare">
                            <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="prod-i-bot">
                <div class="prod-i-info">
                    <p class="prod-i-price">$120.00</p>
                    <p class="prod-i-categ"><a href="catalog-gallery.html">Lighting</a></p>
                </div>
                <h3 class="prod-i-ttl"><a href="product.html">Searchlight Portable</a></h3>
            </div>
        </div>
    </article>            <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
    <div class="sectgl prod-i">
        <div class="prod-i-top">
            <a class="prod-i-img" href="product.html">
                <img src="http://placehold.it/290x258" alt="">
            </a>
            <div class="prod-i-actions">
                <div class="prod-i-actions-in">
                    <div class="prod-li-favorites">
                        <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                    </div>
                    <p class="prod-quickview">
                        <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                    </p>
                    <p class="prod-i-cart">
                        <a href="#" class="hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Add to Cart</span></a>
                    </p>
                    <p class="prod-li-compare">
                        <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="prod-i-bot">
            <div class="prod-i-info">
                <p class="prod-i-price">$120.00</p>
                <p class="prod-i-categ"><a href="catalog-gallery.html">Lighting</a></p>
            </div>
            <h3 class="prod-i-ttl"><a href="product.html">Searchlight Portable</a></h3>
        </div>
    </div>
</article>            <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
    <div class="sectgl prod-i">
        <div class="prod-i-top">
            <a class="prod-i-img" href="product.html">
                <img src="http://placehold.it/290x195" alt="">
            </a>
            <div class="prod-i-actions">
                <div class="prod-i-actions-in">
                    <div class="prod-li-favorites">
                        <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                    </div>
                    <p class="prod-quickview">
                        <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                    </p>
                    <p class="prod-i-cart">
                        <a href="#" class="hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Add to Cart</span></a>
                    </p>
                    <p class="prod-li-compare">
                        <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="prod-i-bot">
            <div class="prod-i-info">
                <p class="prod-i-price"><del>$15.00</del> $20.00</p>
                <p class="prod-i-categ"><a href="catalog-gallery.html">Other</a></p>
            </div>
            <h3 class="prod-i-ttl"><a href="product.html">Flooring</a></h3>
        </div>
    </div>
</article>            <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
    <div class="sectgl prod-i">
        <div class="prod-i-top">
            <a class="prod-i-img" href="product.html">
                <img src="http://placehold.it/290x258" alt="">
            </a>
            <div class="prod-i-actions">
                <div class="prod-i-actions-in">
                    <div class="prod-li-favorites">
                        <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                    </div>
                    <p class="prod-quickview">
                        <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                    </p>
                    <p class="prod-i-cart">
                        <a href="#" class="hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Add to Cart</span></a>
                    </p>
                    <p class="prod-li-compare">
                        <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="prod-i-bot">
            <div class="prod-i-info">
                <p class="prod-i-price">$18.00</p>
                <p class="prod-i-categ"><a href="catalog-gallery.html">Other</a></p>
            </div>
            <h3 class="prod-i-ttl"><a href="product.html">Pneumatic Coil Hose</a></h3>
        </div>
    </div>
</article>            <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
    <div class="sectgl prod-i">
        <div class="prod-i-top">
            <a class="prod-i-img" href="product.html">
                <img src="http://placehold.it/290x258" alt="">
            </a>
            <div class="prod-i-actions">
                <div class="prod-i-actions-in">
                    <div class="prod-li-favorites">
                        <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                    </div>
                    <p class="prod-quickview">
                        <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                    </p>
                    <p class="prod-i-cart">
                        <a href="#" class="hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Add to Cart</span></a>
                    </p>
                    <p class="prod-li-compare">
                        <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="prod-i-bot">
            <div class="prod-i-info">
                <p class="prod-i-price">$45.00</p>
                <p class="prod-i-categ"><a href="catalog-gallery.html">Other</a></p>
            </div>
            <h3 class="prod-i-ttl"><a href="product.html">Door Hinge Metal</a></h3>
        </div>
    </div>
</article>            <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
    <div class="sectgl prod-i">
        <div class="prod-i-top">
            <a class="prod-i-img" href="product.html">
                <img src="http://placehold.it/290x258" alt="">
            </a>
            <div class="prod-i-actions">
                <div class="prod-i-actions-in">
                    <div class="prod-li-favorites">
                        <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                    </div>
                    <p class="prod-quickview">
                        <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                    </p>
                    <p class="prod-i-cart">
                        <a href="#" class="hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Add to Cart</span></a>
                    </p>
                    <p class="prod-li-compare">
                        <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                    </p>
                </div>
            </div>
            <p class="prod-i-badge"><span>Sale</span></p>
        </div>
        <div class="prod-i-bot">
            <div class="prod-i-info">
                <p class="prod-i-price">$70.00</p>
                <p class="prod-i-categ"><a href="catalog-gallery.html">Electricity</a></p>
            </div>
            <h3 class="prod-i-ttl"><a href="product.html">Universal Plug</a></h3>
        </div>
    </div>
</article>            <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
    <div class="sectgl prod-i">
        <div class="prod-i-top">
            <a class="prod-i-img" href="product.html">
                <img src="http://placehold.it/290x258" alt="">
            </a>
            <div class="prod-i-actions">
                <div class="prod-i-actions-in">
                    <div class="prod-li-favorites">
                        <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                    </div>
                    <p class="prod-quickview">
                        <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                    </p>
                    <p class="prod-i-cart">
                        <a href="#" class="hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Add to Cart</span></a>
                    </p>
                    <p class="prod-li-compare">
                        <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="prod-i-bot">
            <div class="prod-i-info">
                <p class="prod-i-price"><del>$12.00</del> $22.00</p>
                <p class="prod-i-categ"><a href="catalog-gallery.html">Tools</a></p>
            </div>
            <h3 class="prod-i-ttl"><a href="product.html">Drill Tool Kit</a></h3>
        </div>
    </div>
</article>            <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
    <div class="sectgl prod-i">
        <div class="prod-i-top">
            <a class="prod-i-img" href="product.html">
                <img src="http://placehold.it/290x258" alt="">
            </a>
            <div class="prod-i-actions">
                <div class="prod-i-actions-in">
                    <div class="prod-li-favorites">
                        <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                    </div>
                    <p class="prod-quickview">
                        <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                    </p>
                    <p class="prod-i-cart">
                        <a href="#" class="hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Add to Cart</span></a>
                    </p>
                    <p class="prod-li-compare">
                        <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="prod-i-bot">
            <div class="prod-i-info">
                <p class="prod-i-price">$24.00</p>
                <p class="prod-i-categ"><a href="catalog-gallery.html">Pipes</a></p>
            </div>
            <h3 class="prod-i-ttl"><a href="product.html">Metal-Plastic Pipes</a></h3>
        </div>
    </div>
</article>            <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
    <div class="sectgl prod-i">
        <div class="prod-i-top">
            <a class="prod-i-img" href="product.html">
                <img src="http://placehold.it/290x258" alt="">
            </a>
            <div class="prod-i-actions">
                <div class="prod-i-actions-in">
                    <div class="prod-li-favorites">
                        <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                    </div>
                    <p class="prod-quickview">
                        <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                    </p>
                    <p class="prod-i-cart">
                        <a href="#" class="hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Add to Cart</span></a>
                    </p>
                    <p class="prod-li-compare">
                        <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="prod-i-bot">
            <div class="prod-i-info">
                <p class="prod-i-price">$31.00</p>
                <p class="prod-i-categ"><a href="catalog-gallery.html">Electricity</a></p>
            </div>
            <h3 class="prod-i-ttl"><a href="product.html">LED Lamp</a></h3>
        </div>
    </div>
</article>            <article class="cf-sm-6 cf-md-6 cf-lg-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 sectgl-item">
    <div class="sectgl prod-i">
        <div class="prod-i-top">
            <a class="prod-i-img" href="product.html">
                <img src="http://placehold.it/290x258" alt="">
            </a>
            <div class="prod-i-actions">
                <div class="prod-i-actions-in">
                    <div class="prod-li-favorites">
                        <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                    </div>
                    <p class="prod-quickview">
                        <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                    </p>
                    <p class="prod-i-cart">
                        <a href="#" class="hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Add to Cart</span></a>
                    </p>
                    <p class="prod-li-compare">
                        <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                    </p>
                </div>
            </div>
            <p class="prod-i-badge"><span class="badge-1">Top seller</span></p>
        </div>
        <div class="prod-i-bot">
            <div class="prod-i-info">
                <p class="prod-i-price">$10.00</p>
                <p class="prod-i-categ"><a href="catalog-gallery.html">Electricity</a></p>
            </div>
            <h3 class="prod-i-ttl"><a href="product.html">Power Socket</a></h3>
        </div>
    </div>
</article>    </div>
<ul class="page-numbers">
    <li><span class="page-numbers current">1</span></li>
    <li><a class="page-numbers" href="#">2</a></li>
    <li><a class="page-numbers" href="#">3</a></li>
    <li><a class="page-numbers" href="#">4</a></li>
    <li><a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a></li>
</ul>