{% extends 'layout.html' %}
{% block content %}
<main id="main" class="site-main">
    <div class="cont maincont">
        <h1 class="maincont-ttl">Cart</h1>
        <ul class="b-crumbs">
            <li><a href="index.html">Home</a></li>
            <li>Cart</li>
        </ul>                                                    <div class="page-styling">


        <div class="woocommerce prod-litems section-list">
            <article class="prod-li sectls">
                <div class="prod-li-inner">
                    <a href="product.html" class="prod-li-img">
                        <img src="http://placehold.it/290x258" alt="">
                    </a>
                    <div class="prod-li-cont">
                        <div class="prod-li-ttl-wrap">
                            <p>
                                <a href="#">Lighting</a>
                            </p>
                            <h3><a href="product.html">Searchlight Portable</a></h3>
                        </div><!--
        No Space
        --><div class="prod-li-prices">
                        <div class="prod-li-price-wrap">
                            <p>Price</p>
                            <p class="prod-li-price">$120.00</p>
                        </div>
                        <div class="prod-li-qnt-wrap">
                            <p class="qnt-wrap prod-li-qnt">
                                <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                <input type="text" value="1">
                                <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                            </p>
                        </div>
                        <div class="prod-li-total-wrap">
                            <p>Total</p>
                            <p class="prod-li-total">$120.00</p>
                        </div>
                    </div><!--
No Space
--></div>
                    <div class="prod-li-info">
                        <div class="prod-li-rating-wrap">
                            <p data-rating="5" class="prod-li-rating">
                                <i class="rating-ico" title="1"></i><i class="rating-ico" title="2"></i><i class="rating-ico" title="3"></i><i class="rating-ico" title="4"></i><i class="rating-ico" title="5"></i>
                            </p>
                            <p class="prod-li-rating-count">12</p>
                        </div>
                        <p class="prod-li-add">
                            <a href="#" class="button hover-label prod-addbtn"><i class="icon ion-close-round"></i><span>Remove</span></a>
                        </p>
                        <p class="prod-li-compare">
                            <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                        </p>
                        <p class="prod-quickview">
                            <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                        </p>
                        <div class="prod-li-favorites">
                            <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                        </div>
                        <p class="prod-li-information">
                            <a href="#" class="hover-label"><i class="icon ion-more"></i><span>Show Information</span></a>
                        </p>
                    </div>
                </div>
                <div class="page-styling prod-li-informations">

                    <dl class="prod-li-props">
                        <dt>Brand:</dt>
                        <dd><a href="#">AIR</a></dd>
                        <dt>Weight:</dt>
                        <dd>1 kg</dd>
                        <dt>Dimensions:</dt>
                        <dd>4 x 50 cm</dd>
                        <dt>Сolor:</dt>
                        <dd><a href="#" rel="tag">Black</a>, <a href="#" rel="tag">Green</a></dd>
                        <dt>Manufacturer:</dt>
                        <dd><a href="#">France</a></dd>
                        <dt>Material:</dt>
                        <dd><a href="#" rel="tag">Metall</a>, <a href="#" rel="tag">Plastic</a>, <a href="#" rel="tag">Rubber</a></dd>
                    </dl>
                </div>
            </article>
            <article class="prod-li sectls">
                <div class="prod-li-inner">
                    <a href="product.html" class="prod-li-img">
                        <img src="http://placehold.it/290x258" alt="">
                    </a>
                    <div class="prod-li-cont">
                        <div class="prod-li-ttl-wrap">
                            <p>
                                <a href="#">Electricity</a>
                            </p>
                            <h3><a href="product.html">Universal Plug</a></h3>
                        </div><!--
        No Space
        --><div class="prod-li-prices">
                        <div class="prod-li-price-wrap">
                            <p>Price</p>
                            <p class="prod-li-price">$70.00</p>
                        </div>
                        <div class="prod-li-qnt-wrap">
                            <p class="qnt-wrap prod-li-qnt">
                                <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                <input type="text" value="1">
                                <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                            </p>
                        </div>
                        <div class="prod-li-total-wrap">
                            <p>Total</p>
                            <p class="prod-li-total">$70.00</p>
                        </div>
                    </div><!--
No Space
--></div>
                    <div class="prod-li-info">
                        <div class="prod-li-rating-wrap">
                            <p data-rating="2" class="prod-li-rating">
                                <i class="rating-ico" title="1"></i><i class="rating-ico" title="2"></i><i class="rating-ico" title="3"></i><i class="rating-ico" title="4"></i><i class="rating-ico" title="5"></i>
                            </p>
                            <p class="prod-li-rating-count">32</p>
                        </div>
                        <p class="prod-li-add">
                            <a href="#" class="button hover-label prod-addbtn"><i class="icon ion-close-round"></i><span>Remove</span></a>
                        </p>
                        <p class="prod-li-compare">
                            <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                        </p>
                        <p class="prod-quickview">
                            <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                        </p>
                        <div class="prod-li-favorites">
                            <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                        </div>
                        <p class="prod-li-information">
                            <a href="#" class="hover-label"><i class="icon ion-more"></i><span>Show Information</span></a>
                        </p>
                    </div>
                    <p class="prod-li-badge"><span>Sale</span></p>
                </div>
                <div class="page-styling prod-li-informations">

                    <dl class="prod-li-props">
                        <dt>Brand:</dt>
                        <dd><a href="#">HOOK</a></dd>
                        <dt>Weight:</dt>
                        <dd>1 kg</dd>
                        <dt>Dimensions:</dt>
                        <dd>4 x 50 cm</dd>
                        <dt>Сolor:</dt>
                        <dd><a href="#">Black</a>, <a href="#">Green</a></dd>
                        <dt>Manufacturer:</dt>
                        <dd><a href="#">France</a></dd>
                        <dt>Material:</dt>
                        <dd><a href="#">Metall</a></dd>
                    </dl>
                </div>
            </article>
            <article class="prod-li sectls">
                <div class="prod-li-inner">
                    <a href="product.html" class="prod-li-img">
                        <img src="http://placehold.it/290x258" alt="">
                    </a>
                    <div class="prod-li-cont">
                        <div class="prod-li-ttl-wrap">
                            <p>
                                <a href="#">Tools</a>
                            </p>
                            <h3><a href="product.html">Drill Tool Kit</a></h3>
                        </div><!--
        No Space
        --><div class="prod-li-prices">
                        <div class="prod-li-price-wrap">
                            <p>Price</p>
                            <p class="prod-li-price"><del>$12.00</del> $22.00</p>
                        </div>
                        <div class="prod-li-qnt-wrap">
                            <p class="qnt-wrap prod-li-qnt">
                                <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                <input type="text" value="1">
                                <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                            </p>
                        </div>
                        <div class="prod-li-total-wrap">
                            <p>Total</p>
                            <p class="prod-li-total"><del>$12.00</del> $22.00</p>
                        </div>
                    </div><!--
No Space
--></div>
                    <div class="prod-li-info">
                        <div class="prod-li-rating-wrap">
                            <p data-rating="3" class="prod-li-rating">
                                <i class="rating-ico" title="1"></i><i class="rating-ico" title="2"></i><i class="rating-ico" title="3"></i><i class="rating-ico" title="4"></i><i class="rating-ico" title="5"></i>
                            </p>
                            <p class="prod-li-rating-count">17</p>
                        </div>
                        <p class="prod-li-add">
                            <a href="#" class="button hover-label prod-addbtn"><i class="icon ion-close-round"></i><span>Remove</span></a>
                        </p>
                        <p class="prod-li-compare">
                            <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                        </p>
                        <p class="prod-quickview">
                            <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                        </p>
                        <div class="prod-li-favorites">
                            <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                        </div>
                        <p class="prod-li-information">
                            <a href="#" class="hover-label"><i class="icon ion-more"></i><span>Show Information</span></a>
                        </p>
                    </div>
                </div>
                <div class="page-styling prod-li-informations">

                    <dl class="prod-li-props">
                        <dt>Weight:</dt>
                        <dd>1 kg</dd>
                        <dt>Dimensions:</dt>
                        <dd>4 x 50 cm</dd>
                        <dt>Сolor:</dt>
                        <dd><a href="#">Black</a>, <a href="#">Green</a></dd>
                        <dt>Manufacturer:</dt>
                        <dd><a href="#">Germany</a></dd>
                        <dt>Material:</dt>
                        <dd><a href="#">Metall</a></dd>
                    </dl>
                </div>
            </article>
            <article class="prod-li sectls">
                <div class="prod-li-inner">
                    <a href="product.html" class="prod-li-img">
                        <img src="http://placehold.it/290x233" alt="">
                    </a>
                    <div class="prod-li-cont">
                        <div class="prod-li-ttl-wrap">
                            <p>
                                <a href="#">Pipes</a>
                            </p>
                            <h3><a href="product.html">Metal-Plastic Pipes</a></h3>
                        </div><!--
        No Space
        --><div class="prod-li-prices">
                        <div class="prod-li-price-wrap">
                            <p>Price</p>
                            <p class="prod-li-price">$24.00</p>
                        </div>
                        <div class="prod-li-qnt-wrap">
                            <p class="qnt-wrap prod-li-qnt">
                                <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                <input type="text" value="1">
                                <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                            </p>
                        </div>
                        <div class="prod-li-total-wrap">
                            <p>Total</p>
                            <p class="prod-li-total">$24.00</p>
                        </div>
                    </div><!--
No Space
--></div>
                    <div class="prod-li-info">
                        <div class="prod-li-rating-wrap">
                            <p data-rating="4" class="prod-li-rating">
                                <i class="rating-ico" title="1"></i><i class="rating-ico" title="2"></i><i class="rating-ico" title="3"></i><i class="rating-ico" title="4"></i><i class="rating-ico" title="5"></i>
                            </p>
                            <p class="prod-li-rating-count">39</p>
                        </div>
                        <p class="prod-li-add">
                            <a href="#" class="button hover-label prod-addbtn"><i class="icon ion-close-round"></i><span>Remove</span></a>
                        </p>
                        <p class="prod-li-compare">
                            <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                        </p>
                        <p class="prod-quickview">
                            <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                        </p>
                        <div class="prod-li-favorites">
                            <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                        </div>
                        <p class="prod-li-information">
                            <a href="#" class="hover-label"><i class="icon ion-more"></i><span>Show Information</span></a>
                        </p>
                    </div>
                </div>
                <div class="page-styling prod-li-informations">

                    <dl class="prod-li-props">
                        <dt>Brand:</dt>
                        <dd><a href="#">Fuel Tank</a></dd>
                        <dt>Weight:</dt>
                        <dd>1 kg</dd>
                        <dt>Dimensions:</dt>
                        <dd>4 x 50 cm</dd>
                        <dt>Сolor:</dt>
                        <dd><a href="#">Black</a>, <a href="#">Green</a></dd>
                        <dt>Manufacturer:</dt>
                        <dd><a href="#">Japan</a></dd>
                        <dt>Material:</dt>
                        <dd><a href="#">Metall</a>, <a href="#">Plastic</a></dd>
                    </dl>
                </div>
            </article>
            <article class="prod-li sectls">
                <div class="prod-li-inner">
                    <a href="product.html" class="prod-li-img">
                        <img src="http://placehold.it/290x258" alt="">
                    </a>
                    <div class="prod-li-cont">
                        <div class="prod-li-ttl-wrap">
                            <p>
                                <a href="#">Electricity</a>
                            </p>
                            <h3><a href="product.html">Power Socket</a></h3>
                        </div><!--
        No Space
        --><div class="prod-li-prices">
                        <div class="prod-li-price-wrap">
                            <p>Price</p>
                            <p class="prod-li-price">$10.00</p>
                        </div>
                        <div class="prod-li-qnt-wrap">
                            <p class="qnt-wrap prod-li-qnt">
                                <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                <input type="text" value="1">
                                <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                            </p>
                        </div>
                        <div class="prod-li-total-wrap">
                            <p>Total</p>
                            <p class="prod-li-total">$10.00</p>
                        </div>
                    </div><!--
No Space
--></div>
                    <div class="prod-li-info">
                        <div class="prod-li-rating-wrap">
                            <p data-rating="5" class="prod-li-rating">
                                <i class="rating-ico" title="1"></i><i class="rating-ico" title="2"></i><i class="rating-ico" title="3"></i><i class="rating-ico" title="4"></i><i class="rating-ico" title="5"></i>
                            </p>
                            <p class="prod-li-rating-count">12</p>
                        </div>
                        <p class="prod-li-add">
                            <a href="#" class="button hover-label prod-addbtn"><i class="icon ion-close-round"></i><span>Remove</span></a>
                        </p>
                        <p class="prod-li-compare">
                            <a href="compare.html" class="hover-label prod-li-compare-btn"><span>Compare</span><i class="icon ion-arrow-swap"></i></a>
                        </p>
                        <p class="prod-quickview">
                            <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                        </p>
                        <div class="prod-li-favorites">
                            <a href="wishlist.html" class="hover-label add_to_wishlist"><i class="icon ion-heart"></i><span>Add to Wishlist</span></a>
                        </div>
                        <p class="prod-li-information">
                            <a href="#" class="hover-label"><i class="icon ion-more"></i><span>Show Information</span></a>
                        </p>
                    </div>
                    <p class="prod-li-badge"><span class="badge-1">Top seller</span></p>
                </div>
                <div class="page-styling prod-li-informations">

                    <dl class="prod-li-props">
                        <dt>Brand:</dt>
                        <dd><a href="#">BMP</a></dd>
                        <dt>Weight:</dt>
                        <dd>1 kg</dd>
                        <dt>Dimensions:</dt>
                        <dd>4 x 50 cm</dd>
                        <dt>Сolor:</dt>
                        <dd><a href="#">Black</a>, <a href="#">Green</a></dd>
                        <dt>Manufacturer:</dt>
                        <dd><a href="#">France</a></dd>
                        <dt>Material:</dt>
                        <dd><a href="#">Metall</a></dd>
                    </dl>
                </div>
            </article>
        </div>


        <div class="cart-actions">
            <div class="coupon">
                <input type="text" placeholder="Coupon code">
                <input type="submit" class="button" value="Apply">
            </div>
            <div class="cart-collaterals">
                <a href="#" class="checkout-button button">Proceed to checkout</a>
                <div class="order-total">
                    <p class="cart-totals-ttl">Total</p>
                    <p class="cart-totals-val">$510.00</p>
                </div>
            </div>
        </div>


    </div>
    </div>
</main>
{% endblock %}