{% extends 'layout.html' %}
{% block content %}
<main id="main" class="site-main">
    <div class="cont maincont">
        <h1 class="maincont-ttl">Cart</h1>
        <ul class="b-crumbs">
            <li><a href="index.html">Home</a></li>
            <li>Cart</li>
        </ul><div class="page-styling">
        <div class="woocommerce prod-litems section-list">
            <article class="prod-li sectls">
                <div class="prod-li-inner">
                    <a href="product.html" class="prod-li-img">
                        <img src="http://placehold.it/290x258" alt="">
                    </a>
                    <div class="prod-li-cont">
                        <div class="prod-li-ttl-wrap">
                                <p>
                                    <a href="#">Lighting</a>
                                </p>
                                <h3><a href="product.html">Searchlight Portable</a></h3>
                        </div>
                        <div class="prod-li-prices">
                            <div class="prod-li-price-wrap">
                                <p>Price</p>
                                <p class="prod-li-price">$120.00</p>
                            </div>
                            <div class="prod-li-qnt-wrap">
                                <p class="qnt-wrap prod-li-qnt">
                                    <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                    <input type="text" value="1">
                                    <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                                </p>
                            </div>
                            <div class="prod-li-total-wrap">
                                <p>Total</p>
                                <p class="prod-li-total">$120.00</p>
                            </div>
                        </div>
                    </div>  
                </div>
            </article>
        </div>
        <div class="cart-actions">
            <div class="coupon">
                <input type="text" placeholder="Coupon code">
                <input type="submit" class="button" value="Apply">
            </div>
            <div class="cart-collaterals">
                <a href="#" class="checkout-button button">Proceed to checkout</a>
                <div class="order-total">
                    <p class="cart-totals-ttl">Total</p>
                    <p class="cart-totals-val">$510.00</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}